---
import { getCollection, render } from "astro:content";
import type { GetStaticPaths } from "astro";
import Layout from "../../../layouts/Layout.astro";

export const getStaticPaths = (async () => {
  const projects = await getCollection("project");

  return projects.map((p) => {
    const [lang, ...slugParts] = p.id.split("/");
    const slug = slugParts.join("/");

    console.log(slugParts);

    return {
      params: { lang, slug },
      props: { project: p },
    };
  });
}) satisfies GetStaticPaths;

const { project } = Astro.props;
const {
  data: { title },
} = project;
const { Content } = await render(project);
---

<Layout title={`Project - ${title}`}>
  <article class="prose prose-invert prose-cyan max-w-3xl mx-auto my-25 px-6">
    <h1>{title}</h1>
    <Content />
  </article>
</Layout>
